@{
    ViewData["Title"] = "首页";
}

<div class="text-center">
    <h1 class="display-4">Welcome! 这里是 「刘奎宁」「王玉莲」「小刘悦」三口之家的新领地，后续会奉上精彩内容，敬请期待！</h1>
    <img src="~/img/4dbeb2dce3fed8f4e2a21764f0176db.jpg" />
    <p>期待您的到来！</p>
</div>
